{
	"cookie": {
		"name": "PHPSESSID",
		"domain": "www.dataforthai.com",
		"path": "/",
		"value": "<your cookie id (get this from registering and logging in)>"
	},
	"delay": [1, 5],
	"previewpage": false
}